@model appmvcWithDB.ViewModels.HomeViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>Je suis la vue index</div>
    <ul>
        <li>@Model.Message</li>
        <li>@Model.Date.ToString("dd/MM/yyyy")</li>

        <li>@Model.Sejour.Lieu</li>
        <li>@Model.Sejour.Telephone</li>

    </ul>

    @Html.Partial("PartialExample")

</body>
</html>