@model appmvcWithDB.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Indexxxxxxx";
    Layout = "_layout";
}
    <div>Je suis la vue index</div>
    <ul>
        <li>@Model.Message</li>
        <li>@Model.Date.ToString("dd/MM/yyyy")</li>

        <li>@Model.Sejour.Lieu</li>
        <li>@Model.Sejour.Telephone</li>

    </ul>

    @Html.Partial("PartialExample")

