@model appmvcWithDB.Models.Utilisateur

<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Prenom)
        @Html.TextBoxFor(m => m.Prenom)
        @Html.ValidationMessageFor(m => m.Prenom)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <input type="submit" value="Créer" />
}